.header {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchField {
  height: 40px;
  padding: 8px;
  border: 1px solid #98B1C4;
  border-radius: 25px;
  margin-left: 16px;
  box-sizing: border-box;
}

.signupButton,
.loginButton,
.profileButton {
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 16px;
}